<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>

        <!-- Menu Group -->
        <add id="Elsnertech_ProductAttachment::menu_section" title="Product Attachment" module="Elsnertech_ProductAttachment" sortOrder="20" parent="Magento_Catalog::catalog" resource="Elsnertech_ProductAttachment::menu_section"/>

        <!-- Child Menus -->
        <add id="Elsnertech_ProductAttachment::menu_config" title="Manage Settings" module="Elsnertech_ProductAttachment" sortOrder="20" parent="Elsnertech_ProductAttachment::menu_section" action="adminhtml/system_config/edit/section/Elsnertech_productattachment" resource="Elsnertech_ProductAttachment::menu_config" />

    </menu>
</config>
