<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <elsnertech_productattachment>
            <general>
                <enabled>0</enabled>
                <debug>0</debug>
            </general>
            <attachment>
                <tab_label>Attachments</tab_label>
                <download_label>Download</download_label>
                <allowed_extensions>pdf</allowed_extensions>
            </attachment>
        </elsnertech_productattachment>
    </default>
</config>
